# Windows and Mac OS X Temp Cache Files
[Tt]humbs.db
*.DS_Store
 
# Visual Studio files
*.suo
*.user
*.tmp_proj
bin
obj
publish
/.vs

# Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

# Misc
packages